<%= form_tag sessions_path, class: 'login_form' do %>
  <% if flash[:alert] %>
    <p class="flash--error"><%= flash[:alert] %></p>
  <% end %>

  <div class="login_form">
    <div class="input">
      <%= text_field_tag :username, params[:username], size: 25, placeholder: 'username' %>
    </div>

    <div class="input">
      <%= password_field_tag :password, params[:password], size: 25, placeholder: 'password' %>
    </div>

    <div class="input">
      <%= submit_tag "Login", class: 'nm' %>
    </div>
  </div>

<% end %>
