<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, placeholder: 'title' %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :published %>
    <%= f.check_box :published %>
  </div>

  <% if @post.new_record? %>
    <div class="field">
      <%= f.text_field :slug, placeholder: 'slug' %>
    </div>
  <% end %>

  <div class="field">
    <%= f.date_field :last_updated, min: @post.created_at&.strftime('%Y-%M-%D') %>
  </div>

  <div class="field">
    <%= f.text_field :all_tags, placeholder: 'tags' %>
  </div>

  <div class="field monospace">
    <%= f.text_area :contents, placeholder: 'Post body (accepts markdown)', id: 'content_text' %>
  </div>

  <div class="actions">
    <%= f.submit %>
    <%= button_tag 'Preview', type: 'button', onclick: 'markdownPreview()' %>
  </div>
<% end %>

<div class="post_preview"></div>

<script>
  function markdownPreview() {
    var request = new XMLHttpRequest();
    var raw = document.querySelectorAll("#content_text")[0].value;
    request.open("POST", "/markdown", true);
    request.setRequestHeader("Content-Type", "text/plain; charset=UTF-8");
    var csrfToken = document.querySelectorAll('meta[name="csrf-token"]')[0].content;
    request.setRequestHeader('X-CSRF-Token', csrfToken);

    request.onload = function() {
      if (request.status >= 200 && request.status < 300) {
        var markdown = JSON.parse(request.responseText).content;
        document.querySelectorAll(".post_preview")[0].innerHTML = '<div class="blog_post"><div class="blog_post_contents">' + markdown + '</div></div>'
        PR.prettyPrint();
      }
    };

    request.onerror = function() {
      console.error("There was a problem sending the markdown render request.");
    };

    request.send(raw);
  };
</script>
