<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, placeholder: 'title' %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :published %>
    <%= f.check_box :published %>
  </div>

  <% if @post.new_record? %>
    <div class="field">
      <%= f.text_field :slug, placeholder: 'slug' %>
    </div>
  <% end %>

  <div class="field">
    <%= f.date_field :last_updated, min: @post.created_at&.strftime('%Y-%M-%D') %>
  </div>

  <div class="field">
    <%= f.text_field :all_tags, placeholder: 'tags' %>
  </div>

  <div class="field monospace">
    <%= f.text_area :contents, placeholder: 'Post body (accepts markdown)', id: 'content_text' %>
  </div>

  <div class="actions">
    <%= f.submit %>
    <%= button_tag 'Preview', type: 'button', onclick: 'markdownPreview()' %>
  </div>
<% end %>

<div class="post_preview"></div>

<script>
  function markdownPreview() {
    $.ajax({
      url: "/posts/markdown",
      method: "POST",
      data: $("#content_text").val()
    }).done(function(data) {
      $(".post_preview").html('<div class="blog_post"><div class="blog_post_contents">' + data["content"] + '</div></div>');
      PR.prettyPrint();
    });
  };
</script>
