<% content_for :header_text do %>
  <%= post.title %>
<% end %>

<div class="blog_post">
  <div class="blog_post_return_link">
    <%= link_to image_tag('logo-128.png'), root_url %>
  </div>

  <div class="blog_post_date_line">
    <p><%= post.date_line %></p>
    <% if authenticated? %>
      <%= link_to '', edit_post_url(post), class: "fa fa-pencil" %>
      <%= link_to '', post_url(post), method: :delete, class: "fa fa-trash", data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>


  <div class="blog_post_contents">
    <%= post.generate_markdown_html.html_safe %>
  </div>
</div>
