<% title post.title %>

<div class="post">
  <div class="post-title"><h2><%= post.title %></h2></div>
  <div class="post-tags">
    <% post.tags.sort_by(&:name).each do |tag| %>
      <div class="post-tag">
        <%= link_to tag.name, posts_path(tag: tag.name) %>
      </div>
    <% end %>
  </div>
  <div class="post-date"><%= post.date_line %></div>
  <div class="post-buttons"></div>
    <% if authenticated? %>
      <%= link_to '', edit_post_url(post), class: "fa fa-pencil" %>
      <%= link_to '', post_url(post), method: :delete, class: "fa fa-trash", data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>

  <div class="post-content">
    <%= post.generate_markdown_html.html_safe %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    PR.prettyPrint();
  });
</script>
