<p id="notice"><%= notice %></p>

<% @posts.each do |post| %>

  <h2 class="blog_index_title"><%= link_to post.title, post_url(post) %></h2>
  <div class="blog_index_date_line"><p><%= post.date_line %></p></div>
  <div class="blog_index_tag_line"><p><%= post.tag_line %></p></div><br />

<% end %>

<div class="pagination">
  <br /><br />
  <%= paginate @posts %>
</div>