<!DOCTYPE html>
<html>
  <head>
    <title>Taylor Thurlow</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'application/favicon' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src='//unpkg.com/code-prettify@latest/src/prettify.js'></script>
    <%= stylesheet_link_tag 'prettify_tomorrow_night', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <div class="container">
      <div id="sidebar">
        <%= link_to image_tag('logo-128.png'), root_url %>
        <div id="sidebar-social">
          <%= link_to '', 'https://github.com/taylorthurlow', class: 'fa fa-github fa-2x', target: '_blank' %>
          <%#= link_to '', portfolio_path, class: 'fa fa-user-circle fa-2x', style: 'font-size: 180%;' %>
        </div>

        <div id="sidebar-footer">
          <p><%= link_to "&copy;".html_safe, new_session_url %><%=Time.now.year%> Taylor Thurlow</p>
          <% if authenticated? %>
            <p>
              <%= link_to '', new_post_path, class: "fa fa-pencil" %>
              <%= link_to '', archive_path, class: "fa fa-history" %>
              <%= link_to '', logout_path, class: "fa fa-sign-out" %>
            </p>
          <% end %>
        </div>
      </div>
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>

<script>
  $(document).ready(function() {
    PR.prettyPrint();
  });
</script>
