<!DOCTYPE html>
<html>
  <head>
    <title>Taylor Thurlow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= render 'application/favicon' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'prettify_tomorrow_night', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <script src='//unpkg.com/code-prettify@latest/src/prettify.js'></script>
  </head>
  <body class="bg-grey-lightest text-grey-darkest font-sans">
    <div id="container" class="flex flex-col lg:flex-row">
      <div id="sidebar" class="flex flex-col bg-grey-lighter text-center px-4 py-6 lg:static lg:block lg:w-64 lg:h-screen lg:sticky lg:pin-l lg:pin-t">
        <%= link_to image_tag('logo-128.png'), root_url %>
        <div id="sidebar-social" class="text-grey p-10">
          <%= link_to '', 'https://github.com/taylorthurlow', class: 'text-black fa fa-github fa-2x', target: '_blank' %>
          <%= link_to '', portfolio_path, class: 'text-black fa fa-user-circle fa-2x', style: 'font-size: 180%; margin-left: 10px' %>
        </div>

        <div id="sidebar-footer">
          <p class="text-grey"><%= link_to "&copy;".html_safe, new_session_url, class: 'text-grey' %><%= Time.now.year %> Taylor Thurlow</p>
          <% if authenticated? %>
            <p>
              <%= link_to '', new_post_path, class: "fa fa-pencil" %>
              <%= link_to '', archive_path, class: "fa fa-history" %>
              <%= link_to '', logout_path, class: "fa fa-sign-out" %>
            </p>
          <% end %>
        </div>
      </div>
      <div id="content" class="p-6 mx-auto max-w-full md:max-w-md md:min-h-screen lg:mt-4">
        <%= yield %>
      </div>
    </div>
  </body>
</html>

<script>
  $(document).ready(function() {
    PR.prettyPrint();
  });
</script>
