<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Taylor Thurlow' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= render 'application/favicon' %>

    <%= stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "prettify_tomorrow_night", media: "all", "data-turbolinks-track" => true %>
    <meta name="google-site-verification" content="AyBIEFPOS1aXznunaI8SoQV9VjUr8LgiK69PBYLJ5Lo" />
  </head>
  <body>
    <div id="container">
      <div id="sidebar">
        <div>
          <%= link_to image_tag('logo-768.png', class: 'logo', size: '128'), root_url %>
          <div id="sidebar-name">Taylor Thurlow</div>
          <div id="sidebar-tagline">web developer, rubyist</div>
          <div id="sidebar-social">
            <div class="social-link"><%= link_to 'GitHub', 'https://github.com/taylorthurlow' %></div>
            <div class="social-link-separator">-</div>
            <div class="social-link"><%= link_to 'Projects', projects_path %></div>
            <div class="social-link-separator">-</div>
            <div class="social-link"><%= link_to 'Résumé', '/files/resume.pdf' %></div>
          </div>
        </div>

        <div id="sidebar-footer">
          <p><%= link_to "&copy;".html_safe, new_session_url %><%= Time.now.year %> Taylor Thurlow</p>
          <% if authenticated? %>
            <p>
              <%= link_to '', new_post_path, class: "fa fa-pencil" %>
              <%= link_to '', archive_path, class: "fa fa-history" %>
              <%= link_to '', logout_path, class: "fa fa-sign-out" %>
            </p>
          <% end %>
        </div>
      </div>
      <div id="content">
        <% if notice %>
          <p id="notice"><%= notice %></p>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
