<!DOCTYPE html>
<html>
  <head>
    <title>Taylor Thurlow</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
  </head>
  <body>
    <div class="container">
      <div id="header">
        <p><%= link_to 'taylor thurlow', root_url %></p>
      </div>

      <% if is_authenticated? %>
        <div id="toolbar">
          <ul>
            <li><%= link_to '', new_post_url, class: "fa fa-pencil" %></li>
            <li><%= link_to '', archive_url, class: "fa fa-history" %></li>
            <li><%= link_to '', logout_path, class: "fa fa-sign-out" %></li>
          </ul>
        </div>
      <% end %>

      <div id="content">
        <%= yield %>
      </div>

      <div id="footer">
        <p><%= link_to "\u00A9", new_session_url %><%=Time.now.year%> Taylor Thurlow</p>
      </div>
    </div>
  </body>
</html>