<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Taylor Thurlow' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= render 'application/favicon' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'prettify_tomorrow_night', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag '//unpkg.com/code-prettify@latest/src/prettify.js' %>
    <meta name="google-site-verification" content="AyBIEFPOS1aXznunaI8SoQV9VjUr8LgiK69PBYLJ5Lo" />
  </head>
  <body>
    <div id="container">
      <div id="sidebar">
        <div>
          <%= link_to image_tag('logo-128.png'), root_url %>
          <div id="sidebar-social">
            <%= link_to '', 'https://github.com/taylorthurlow', class: 'fa fa-github-alt' %>
            <%= link_to '', portfolio_path, class: 'fa fa-paint-brush' %>
            <%= link_to '', '/files/resume.pdf', class: 'fa fa-file' %>
          </div>
        </div>

        <div id="sidebar-footer">
          <p><%= link_to "&copy;".html_safe, new_session_url %><%= Time.now.year %> Taylor Thurlow</p>
          <% if authenticated? %>
            <p>
              <%= link_to '', new_post_path, class: "fa fa-pencil" %>
              <%= link_to '', archive_path, class: "fa fa-history" %>
              <%= link_to '', logout_path, class: "fa fa-sign-out" %>
            </p>
          <% end %>
        </div>
      </div>
      <div id="content">
        <% if notice %>
          <p id="notice"><%= notice %></p>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
