<!DOCTYPE html>
<html>
  <head>
    <title>Taylor Thurlow</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src='//unpkg.com/code-prettify@latest/src/prettify.js'></script>
    <%= stylesheet_link_tag 'prettify_tomorrow_night', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <div class="container">
      <div id="header-wrapper">
        <div id="header">
          <h1>
            <% if content_for?(:header_text) %>
              <%= yield(:header_text) %>
            <% else %>
              <%#= link_to 'Taylor Thurlow', root_url %>
              <%= link_to image_tag('logo-128.png'), root_url %>
            <% end %>
          </h1>
        </div>
      </div>

      <div id="content-wrapper">
        <div id="content">
          <%= yield %>
        </div>
      </div>

      <div id="footer-wrapper">
        <div id="footer">
          <p><%= link_to "&copy;".html_safe, new_session_url %><%=Time.now.year%> Taylor Thurlow</p>
          <% if authenticated? %>
            <p>
              <%= link_to '', new_post_url, class: "fa fa-pencil" %>
              <%= link_to '', archive_url, class: "fa fa-history" %>
              <%= link_to '', logout_path, class: "fa fa-sign-out" %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  $(document).ready(function() {
    PR.prettyPrint();
  });
</script>
